
    body {
        background-color: white;
    }
    ul{
        width: 75%;
        background-color: white;
        margin: 20px auto 20px auto;
        border: 20px;
        padding: 20px;
    }
    h1{
        color: black;
        text-align: center;
    }
    h2{
        text-align: center;
    }
    li{
        color: black;
    }
    #first_image{
        width: 100px;
    }
    li{
        text-align: left;
        margin: 10px;
        font-size: medium;
    }
    .Pomodoro_estimate{
        color: red;
        text-align: inherit;
    }
    #editbutton{
        background-color: #48D09B;
        margin: 20px 30px 20px 30px;
        border-radius: 3px;
        box-shadow: 2px 2px 1px #D3D3D3;
        padding: 5px;
    }
    #deletebutton{
        background-color: #fb6767;
        margin: 20px 30px 20px 30px;
        border-radius: 3px;
        box-shadow: 2px 2px 1px #D3D3D3;
        padding: 5px;
    }
    #gobackbutton{
        margin: 20px 0px 20px 20px
    }
    ul{
        list-style: none;
    }
    