
    body {
        background-color: white;
    }
    h1 {
        color: black;
    }
    li{
        color: black;
    }
    #first_image{
        width: 50px;
    }
    li{
        text-align: center;
        margin: auto;
    }